# PostgreSQL

POSTGRES_USER = changeme
POSTGRES_PASSWORD = changeme
DATABASE_URL = changeme

#App secrets

APP_ENV = changeme
SECRET_KEY = changeme
ALLOWED_HOSTS = changeme
TELEGRAM_BOT_TOKEN = changeme
LOG_LEVEL = changeme
TELEGRAM_BOT_URL = changeme

#URLs
APP_BASE_URL = changeme